<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../partials/head %>
    <link rel="shortcut icon"
            href="https://i.postimg.cc/9z33W1Vj/IMG-2032.png"
            type="image/x-icon">
        <title>Table</title>
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Login</th>
                <th scope="col">value</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <% data.forEach(function(item) { %>
            <tbody>
                <tr>
                    <td>
                        <%=item.id%>
                    </td>
                    <td>
                        <%=item.username%>
                    </td>
                    <td>
                        <%=item.value %>
                    </td>
                    <td>
                        <a href="/delete/<%=item.id%>"><button class="btn btn-danger">Delete</button></a>

                    </td>
                </tr>
            </tbody>
            <% }); %>
    </table>

</body>

</html>